* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contein {
    box-shadow: 4px 5px 13px -5px rgba(0,0,0,0.75);
    display: flex;
    height: 50%;
    width: 50%;
    border-radius: 30px;
}

@media screen and 
(max-width: 1000px) {
    .contein {
        flex-direction: column;
        align-items: center;
        width: 50%;
        height: auto;
    }

}

.result, .summary {
    padding: 30px;
}

.result {
    background-color: #6040fd;
    color: #feffff;
    text-align: center;
    border-radius: 30px;
    
}

.result h3 {
    color: #cdc6ff;
    margin-bottom: 30px; 
}

.result__circle {
    width: 150px;
    height: 150px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50%; 
    background: linear-gradient(#4d22c8, transparent);
}

.result__circle--numero {
    font-size: 50px;
    font-weight: bolder;
}

.result__circle p:last-child {
    color: #cdc6ff;
    font-size: 13px;
}

h2 {
    margin: 20px 0;
    font-size: 30px;
}

.result p:last-child {
    color: #cdc6ff;
}

.summary {
    width: 88%;

}

.summary h3 {
    margin-bottom: 20px;
}

.summary p {
   display: flex;
   justify-content: space-around;
   padding: 15px 0;
   border-radius: 20px;
   margin: 20px 0;
}

.summary p span {
    margin-left: 50px;
}

.summary strong {
    font-weight: 500;
}

.summary__reaction {
    background-color: #fff6f5;
}
.summary__reaction strong {
    color: #d37279;
}

.summary__memory {
    background-color: #fffbf2;
}
.summary__memory strong {
    color: #ffe48f;
}

.summary__verbal {
    background-color: #f2fafa;
}
.summary__verbal strong {
    color: #36b598;
}

.summary__visual {
    background-color: #f3f3fd;
}
.summary__visual strong {
    color: #878ef4;
}

.summary__btn {
    background-color: #303b59;
    border: none;
    width: 100%;
    margin: 20px 0;
    border-radius: 30px;
    padding: 20px 0;
    color: #fffbf2;
    font-size: 16px;
    cursor: pointer;
}
.summary__btn:hover {
    background-color: #181f35;
}