* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contein {
    box-shadow: 4px 5px 13px -5px rgba(0,0,0,0.75);
    display: flex;
    height: 50%;
    width: 50%;
    border-radius: 30px;
}

.result, .summary {
    width: 50%;
    padding: 30px;
}

.result {
    background-color: #6040fd;
    color: #feffff;
    text-align: center;
    border-radius: 30px;
}

.result h3 {
    color: #cdc6ff;
    margin-bottom: 30px; 
}

.result__circle {
    width: 150px;
    height: 150px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50%; 
    background: linear-gradient(#4d22c8, transparent);
}

.result__circle--numero {
    font-size: 50px;
    font-weight: bolder;
}

.result__circle p:last-child {
    color: #cdc6ff;
    font-size: 13px;
}

h2 {
    margin: 20px 0;
    font-size: 30px;
}
.result p:last-child {
    color: #cdc6ff;
}